.chat {
  height: 100vh;
  width: 100vw;
  z-index: 7;
  color: #fff;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 20%;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat-title {
  font-size: 7vw;
}

#light .chat-title {
	color: #061145;
}

#dark .chat-title {
	color: #b85ed9;
}
