.Leaderboard {
  position: absolute;
  top: 0;
  left: calc((548vh - 100vw) / 4 * 2);
  z-index: 8;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-div {
  max-height: 60vh;
  overflow: auto;
  scrollbar-color: darkblue lightblue;
  scrollbar-width: thin;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(42, 45, 112, 0.5) 0%, rgba(80, 75, 210, 0.5) 100%);
  margin-bottom: 0.8rem;
  padding: 1rem;
  width: 82vw;
  max-width: 1000px;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  align-self: center;
  flex: 1 0 0%;
  text-align: center;
}

.col.status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  align-self: center;
  text-transform: lowercase;
}

.firstRow {
  font-weight: 600;
  font-size: 1.1rem;
  background: linear-gradient(0deg, #504bd2 0%, rgba(80, 75, 210, 0.5) 100%)!important;
}

.row.me {
  border: 3px solid #011f37;
}

.row:not(.firstRow) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

:not(.firstRow) >.col:first-child >img{
  width: 60px;
}

.row .col:last-child,
.row .col:nth-last-child(2) {
  font-size: 1.1rem;
}

.friend {
  color: green;
  font-size: 1.5rem;
  font-weight: 600;
}

.not-friend {
  color: #011f37;
  font-size: 1.2rem;
  font-weight: 600;
}

.link-prof:hover{
  cursor: pointer;
  color: #011f37;
}
