# Dependency directory
*/node_modules
node_modules

# compiled code
*/dist

# bundle
packages/**/*.d.ts
packages/**/*.js

# Ignore built ts files
dist/**/*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# VIM and IDE
.vscode
/.devcontainer
*.code-workspace
*.swp
*.swo

# Cache
.module-cache

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
*.env
!*example*.env

# OS metadata
.DS_Store
Thumbs.db

# others
*.gz
*.dat
pids
tmp

test.http
notes.txt
