.game-container {
	height: 100vh;
	width: 100vw;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 15%;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game {
  margin-top: 7vh;
}

.game-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-button {
  height: 45px;
  width: 180px;
  font-size: 0.9em;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
  border-radius: 100rem;
  margin: 30px;
  color: white;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", sans-serif;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
}


.game-button:hover,
.game-button:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  transform: translateY(-0.1rem);
}

@media (max-width: 680px) {
  /* .game {
    margin-left: 5vw;
  } */

  .game-button {
    font-size: 0.6em;
    height: 30px;
    width: 110px;
    margin: 20px;
  }
}

@media (max-height: 400px) {
  .game-button {
    font-size: 0.6em;
    height: 25px;
    width: 100px;
    margin: 10px;
  }
}
