.game-container {
  position: absolute;
  top: 0;
  left: calc((548vh - 100vw) / 4);
  height: 100vh;
  width: 100vw;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", sans-serif;
  transition: opacity 0.5s ease-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game {
  margin-top: 7vh;
}

.loading-socket {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-modal {
  position: absolute;
  z-index: 2;
  height: 160px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  transition: 0.5s ease-out;
  box-shadow: 7px 7px 20px 5px rgba(255, 255, 255, 0.12);
  background: linear-gradient(45deg, hsla(276, 37%, 20%, 0.99), hsla(261, 46%, 30%, 0.99), hsla(248, 43%, 25%, 0.99));
}

#light .game-modal {
  background: var(--global-game-gradient-light);
}

.game-button-wrapper {
  align-items: center;
  padding: 1em;
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.game-button-wrapper-text {
  align-items: center;
  padding: 1em;
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 780px) {
  .game-modal {
    height: 120px;
    width: 420px;
  }
  .game-button-wrapper {
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .game-modal {
    height: 100px;
    width: 350px;
    border-radius: 12px;

  }
}

@media (max-width: 480px), (max-height: 440px) {
  .game-modal {
    border-radius: 10px;
    height: 40%;
    width: 75%;
  }
}

.game-error-fallback {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, hsl(255, 48%, 25%), hsl(345, 88%, 23%));
  border-radius: 1rem;
}

#light .game-error-fallback {
  background: linear-gradient(45deg, hsl(247, 48%, 33%), hsl(345, 58%, 61%));
}
