.Profile {
  z-index: 7;
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.profile-title {
  margin: 50px;
}

.signOut-button {
  color: white;
  border: 1px solid white;
  margin: 30px;
  border-radius: 20px;
  padding: 5px 20px;
}

.delete-button {
  text-decoration: underline;
  font-size: 0.9em;
  margin: 8px;
}

.signOut-button:hover,
.signOut-button:focus {
  font-weight: bold;
  background-color: #e0c7f3;
  color: rgb(32, 29, 35);
  /* transform: translateY(-0.1rem); */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-title {
  font-size: 7vw;
}

#light .profile-title {
	color: #6709b9;
}

#dark .profile-title {
	color: #c0b4f2;
}
