.Profile {
  z-index: 7;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#light .profile-title {
	color: #6709b9;
}

#dark .profile-title {
	color: #c0b4f2;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row1 {
  width: 80vw;
  max-width: 1000px;
}

.row1 > div:first-child {
  width: 15vw;
}

.row2 {
  width: 72vw;
  padding: 1rem;
  max-width: 700px;
  border-radius: 20px;
  background: rgb(80,75,210, 0.5);
  background: linear-gradient(0deg, rgba(42, 45, 112, 0.5) 0%, rgba(80,75,210, 0.5) 100%);
  margin-bottom: 2rem;
}

/* .row:not(:first-child) .col {
  border: #6709b9 solid 3px;
} */

.avatar > img {
  width: 100%;
  border-radius: 50%;
  margin: 0;
  margin-top: 2vw;
  margin-bottom: 2vw;
  outline: 3px rgb(254, 254, 254) solid;
}

.username {
  align-self: center;
  font-size: 2.3rem;
  margin: 0;
  font-family: sans-serif;
  color: white;
  justify-content: center;
  text-shadow: darkblue 2px 0 10px;
}

.bullet-orange {
  color: orange;
  font-size: 2.7rem;
  margin-right: 5px;
}

.bullet-green {
  color: green;
  font-size: 2.7rem;
  margin-right: 5px;
}

.bullet-red {
  color: red;
  font-size: 2.7rem;
  margin-right: 5px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  align-self: center;
  text-transform: lowercase;
}

.level {
  align-items: center;
  display: flex;
}

.level > img {
  width: 40px;
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255, 0.2));
  margin-right: 5px;
}

.col-details span:first-child {
  font-style: italic;
  margin-right: 4px;
}

.col-details span:not(:first-child) {
  font-size: 1.5rem;
}

.friends {
  /* TODO */
}
