.shooting-star {
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  animation: shoot 4s linear infinite;
  /* transform: rotate(-50deg); */
  /* width: 45px;
    height: 2px;
    top: 100px;
    right: -10px; */
}

@keyframes shoot {
  10% {
    transform: rotate(-50deg) translate(-1000px, 0);
    /* transform: rotate(-30deg) translate(-550px , 0); */
  }
  100% {
    transform: rotate(-50deg) translate(-1000px, 0);
    /* transform: rotate(-30deg) translate(-550px , 0); */
  }
}
