@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");

.Login {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #eacede,
    #ddb5d2,
    #cd9dc9,
    #b986c1,
    #a171bc,
    #9477c4,
    #867ccb,
    #7682d1,
    #7e9ede,
    #90b8e8,
    #acd1ef,
    #cfe8f7
  );
  font-family: "Euclid circular A";
}

.continue-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.Login_with {
  margin: 6px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(255, 254, 254);
}

#login-robot {
  height: 140px;
  border-radius: 50%;
  /* border: 2px solid rgb(255, 255, 255); */
  /* background-color: rgb(110, 48, 154); */
  padding: 5px;
}

#logo-42 {
  height: 30px;
  padding-top: 3px;
}

.login-link {
  text-decoration: underline;
  font-size: 0.9em;
  margin: 8px;
  /* font-style: italic; */
}

.Login_with:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.form {
  margin: auto;
  width: 380px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.309);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 5px 8px 10px 3px rgba(47, 47, 47, 0.2);
  color: rgb(255, 255, 255);
}

.form-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  height: 30px;
  width: 220px;
  border-radius: 5px;
  text-indent: 8px;
  color: rgb(0, 0, 0);
}

.submit {
  margin: auto;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 1em;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.submit:hover {
  background-color: white;
  color: black;
}

.popup-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

/* .popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.popup-content p {
  margin-bottom: 10px;
}

.popup-content input[type="number"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -moz-appearance: textfield; /* Firefox */
}

.popup-content input[type="number"]::-webkit-inner-spin-button,
.popup-content input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome */
  margin: 0;
}

.popup-content button[type="submit"] {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #c74dff75;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button[type="submit"]:hover {
  background-color: darkblue;
}

@media (max-width: 600px) {
	#login-robot {
		display: none;
	}

	.form {
		padding: 40px;
		width: 350px;
	}

	.continue-with {
		margin: 0;
	}
}

.column {
	flex: 1 0 0%;
}

.column-details span:first-child {
	font-style: italic;
	margin-right: 4px;
}

.column-details span:not(:first-child) {
	font-size: 1.5rem;
}

.on-off {
	position: relative;
	width: 80px;
	height: 30px;
	border-radius: 15px;
	background-color: #ccc;
	cursor: pointer;
	overflow: hidden;
}

.on-off .handle {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #fff;
	transition: transform 0.3s ease-in-out;
}

.on-off.on .handle {
	transform: translateX(50px);
	background-color: orange; /* Couleur de fond lorsque le bouton est en position "on" */
}

.on-off.off .handle {
	background-color: #ccc; /* Couleur de fond par défaut */
}

.on-off .status {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10px;
	color: #fff;
}
