html, body {
    height:100%;
}

.container {
	z-index: 0;
	height: 100vw;
	width: 100vh;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
}

.wrap {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	background-color: aqua;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 540vh;
	background-position: left top;
	background-size: auto 100%;
	background-attachment: fixed;
	height: 100%;
}

.layer {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100vh;
	overflow: hidden;
}

#light .stars {
	display: none;
}

@media (max-width: 768px) {
	.background {
	}
}
