.list-of-games {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  padding: 15px 0px;
}

.list-of-games-title {
  padding-bottom: 10px;
}

.list-of-games ul {
  width: 60%;
  margin-bottom: 10px;
}

.running {
  color: rgb(126, 220, 153); 
  font-weight: bold;
}

.waiting {
  color: rgb(255, 228, 153);
  font-weight: bold;
}

.list-of-games li {
  display: flex;
  justify-content: space-around; 
  margin: 5px 0px;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.217);
}

#light .list-of-games li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.217);
}

.list-of-games button:hover {
  font-weight: bold;
  /* transform: translateY(-0.1rem);  */
}
