.result {
  /* color: rgb(152, 71, 251); */
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.09rem;
}

#result-modal {
  height: 150px;
  width: 400px;
  font-size: 1.2em;
}

#light .result {
  color: black;
}
