.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.logo-wall-e {
  position: relative;
  height: 60px;
  cursor: pointer;
}

ul img {
  vertical-align: center;
  height: 50px;
}

.hamburger-button {
  display: none;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 35px;
  height: 15px;
}

.hamburger-button span {
  position: absolute;
  height: 3px;
  border-radius: 4px;
  background-color: #030303;
  width: 100%;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#dark .hamburger-button span {
  background-color: #ffffff;
}

.hamburger-button span:nth-child(1) {
  top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
  top: 10px;
}

.hamburger-button span:nth-child(4) {
  top: 20px;
}

/* 2. Style the active state and create the cross. */
.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-elements ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
}

.navbar li {
  padding: 6px 8px;
  margin: 0px 5px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

.nav-item:hover,
.nav-item:focus {
  opacity: 1;
  background: rgba(227, 24, 54, 0.9);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

#light .nav-item:hover,
#light .nav-item:focus {
  background: rgba(255, 0, 38, 0.9);
}

@media (max-width: 680px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .hamburger-button {
    display: block;
    cursor: pointer;
    margin-left: 3vw;
  }

  .logo-wall-e {
    height: 50px;
  }

  body.open .navbar li {
    animation: appear 0.7s backwards;
  }

  .nav-elements {
    position: absolute;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-left: 2vw;
  }

  .nav-elements ul {
    display: none;
    opacity: 0;
  }

  .nav-elements.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .navbar li {
    margin: 6px 10px;
    padding: 6px 8px;
    margin-right: unset;
  }

  ul img {
    height: 9vh;
    max-height: 45px;
    transition: all 2s ease-in-out;
  }
}

@media (max-height: 350px) {
  .burger {
    height: 25px;
  }

  .logo-wall-e {
    height: 35px;
  }

  .nav-elements ul {
    margin-top: 0;
  }

  .navbar li {
    margin: 0px 14px;
    padding: 6px 6px;
  }

  ul img {
    height: 30px;
  }
}

@media (max-width: 680px) and (max-height: 350px) {
  .hamburger-button {
    display: block;
    cursor: pointer;
    margin-left: 12px;
    width: 28px;
    height: 12px;
  }

  .hamburger-button span {
    height: 2.5px;
  }

  .hamburger-button span:nth-child(1) {
    top: 0px;
  }

  .hamburger-button span:nth-child(2),
  .hamburger-button span:nth-child(3) {
    top: 8px;
  }

  .hamburger-button span:nth-child(4) {
    top: 16px;
  }
}

@media (max-width: 300px) {
  .logo-wall-e {
    display: none;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}
