.navbar {
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2vh 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
  z-index: 20;
}

.logo-wall-e {
  position: relative;
	height: 60px;
  cursor: pointer;
}

ul img {
  vertical-align: center;
  height: 50px;
}

.menu-icon {
  display: none;
}

.burger {
  height: 6vh;
  z-index: 6;
}

.nav-elements ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
}

.navbar li {
  padding: 6px 8px;
  margin: 0px 5px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

.nav-item:hover,
.nav-item:focus {
  opacity: 1;
  background: rgba(227, 24, 54, 0.9);
	color: white;
	border-radius: 20px;
	cursor: pointer;
}

#light .nav-item:hover,
#light .nav-item:focus {
  background: rgba(255, 0, 38, 0.9);
}

@media (max-width: 680px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-left: 5px;
  }

  .logo-wall-e {
	  height: 50px;
  }

body.open .navbar li {
  animation: appear 0.7s backwards;
}
  .nav-elements {
    position: absolute;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-left: 1vw;
  }

  .nav-elements ul {
    display: none;
    opacity: 0;
  }
  
  .nav-elements.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .navbar li {
    margin: 6px 10px;
    padding: 6px 8px;
    margin-right: unset;
  }

  ul img {
    /* height: 45px; */
    height: 8vh;
    transition: all 2s ease-in-out;
  }
}

@media (max-height: 350px) {
  .burger {
    height: 25px;
  }

  .logo-wall-e {
	  height: 35px;
  }

  .nav-elements ul {
    margin-top: 0;
  }

  .navbar li {
    margin: 0px 10px;
    padding: 6px 6px;
  }

  ul img {
    height: 30px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}
