.notFound {
  height: 100vh;
  width: 100vw;
  z-index: 11;
  /* position: absolute;
  top: 0;
  left: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#light .notFound {
  color: black;
}

.notFound-text {
  font-size: 1.7rem;
  margin: 20px;
}

#video {
  width: 1000px;
  object-fit: "cover";
  border-radius: 1rem;
}

@media (max-height: 600px) {
  .notFound-text {
    font-size: 1.3rem;
    margin: 15px;
  }
  #video {
    border-radius: 0.7rem;
    width: 600px;
  }
}

@media (max-height: 380px) {
  #video {
    display: none;
  }
}
