.chat {
  height: 100vh;
  width: 100vw;
  z-index: 7;
  color: #fff;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 20%;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Users {
  font-size: 0.5em;
  color: #2b0938;
}

.user-item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-item button {
  background-color: rgb(226, 168, 230);
  border-radius: 10px;
  border: 1px solid #1e1a1a;
  margin: 0px 15px;
  padding: 0px 5px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat-title {
  font-size: 7vw;
}

#light .chat-title {
	color: #061145;
}

#dark .chat-title {
	color: #b85ed9;
}
