.home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 70px;
}

#light .home {
  color: #000000;
}

.home-play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px;
  color: #ffffff;
  /* background-color: rgba(23, 176, 23, 0.546); */
}

#light .home-play-button {
  color: white;
}

.game-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.game-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background-color: #6e5898;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

#light .game-link:before {
  background-color: #b9d4fd; 
}

.game-link span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 550;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

#light .game-link span {
  color: #000000;
}

.game-link svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

#light .game-link svg {
  stroke: #000000;
}

.game-link:hover:before {
  width: 100%;
  background-color: #6e5898;
}

#light .game-link:hover:before {
  background-color: #b9d4fd; 
}
.game-link:hover svg {
  transform: translateX(0);
}

.game-link:active {
  transform: scale(0.96);
}

.swiper-container {
  margin: 0;
  padding: 0;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  /* background-color: rgba(205, 48, 48, 0.442); */
  padding-top: 50px;
  padding-bottom: 80px;
}

.swiper .swiper-slide {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: #6e5898;
  border-radius: 1rem;
  width: 315px;
  height: 410px;
  border-radius: 0.7rem;
}

#light .swiper .swiper-slide {
  color: #000000;
  /* background-color: #cadfff; */
  background-color: #bdd6fb;
}

.carroussel-slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 8px 10px 3px rgba(47, 47, 47, 0.2);
  border-radius: 0.7rem;
  opacity: 0.7;
}

.carroussel-img {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.carroussel-slide.active {
  opacity: 1;
}

.carroussel-slide.active:hover {
  /* border: 0.5px solid rgb(228, 128, 210); */
}

.carroussel-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: red; */
  padding: 0px 20px;
}

.carroussel-header {
  font-size: 1.1rem;
  z-index: 1;
  font-weight: 500;
  padding-bottom: 20px;
}

.carroussel-list {
  font-size: 0.8rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carroussel-list-elem,
.carroussel-list-link {
  font-weight: 300;
}

.carroussel-list-link:hover {
  font-weight: 600;
}

@media (max-width: 1080px) OR (max-height: 680px) {
  .game-link {
    padding: 15px 18px;
  }
  .game-link span {
    font-size: 14px;
  }
  .game-link:before {
    width: 48px;
    height: 48px;
  }
  .swiper .swiper-slide {
    width: 275px;
    height: 370px;
  }
  .carroussel-content {
    height: 255px;
    /* background-color: red; */
  }
  .carroussel-header {
    font-size: 1rem;
  }
  .carroussel-list {
    font-size: 0.75rem;
  }
}

@media (max-width: 780px) OR (max-height: 580px) {
  .game-link {
    padding: 12px 15px;
  }
  .game-link span {
    font-size: 12px;
  }
  .game-link:before {
    width: 42px;
    height: 42px;
  }
  .swiper .swiper-slide {
    width: 220px;
    height: 300px;
  }
  .carroussel-content {
    height: 205px;
    /* background-color: red; */
  }
  .carroussel-header {
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  .carroussel-list {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .swiper-container {
    display: none;
  }
}

@media (max-height: 480px) AND (min-width: 480px) {
  .game-link {
    display: none;
  }
  .swiper .swiper-slide {
    width: 190px;
    height: 250px;
  }
  .carroussel-content {
    height: 168px;
    /* background-color: rgba(255, 0, 0, 0.675); */
  }
  .carroussel-header {
    font-size: 0.8rem;
    padding-bottom: 3px;
  }
  .carroussel-list {
    font-size: 0.6rem;
  }
}
