.score {
  margin-top: 4vw;
  padding: 0;
  position: absolute;
  color: white;
  /* display: block; */
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  font-size: 10vw;
  word-spacing: 7vw;
  z-index: 12;
  align-self: flex-start;
}
