.ChannelField {
  width: calc(100% - 250px);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  .ChannelFieldEmpty {
    width: clamp(200px, 40%, 400px);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .4);
    outline: solid 1px white;
    padding: 15px;
    color: white;
  }
}

.ChannelFieldLight {
  .ChannelFieldEmpty {
    filter: invert(1);
  }
}
