:root {
  --toastify-toast-width: 340px;
  --toastify-color-success: rgb(171, 123, 248);
  --toastify-color-info: rgb(64, 49, 178);
  --toastify-color-warning: rgb(255, 203, 48);
  --toastify-color-error: #d781fe;
  --global-background-color-light: hsl(0, 3%, 93%);
  --global-background-color-dark: hsl(220, 11%, 16%);
  --global-game-gradient-dark: linear-gradient(45deg, hsl(274, 42%, 16%), hsl(259, 47%, 27%), hsl(252, 51%, 12%));
  /* --global-game-gradient-dark: linear-gradient(45deg, hsl(274, 42%, 16%), hsl(266, 47%, 27%), hsl(252, 51%, 12%)); */
  /* --global-game-gradient-dark: linear-gradient(45deg, hsl(275, 27%, 25%), hsl(258, 35%, 20%), hsl(251, 37%, 20%)); */
  --global-game-gradient-light: linear-gradient(45deg, #8ebbfe, hsl(203, 52%, 83%), #8ebbfe);
  /* --global-game-gradient-light: linear-gradient(45deg,  hsl(252, 68%, 78%), hsl(255, 80%, 90%), rgb(189, 173, 238)); */
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  font-family: "Euclid circular A";
}

#light {
  background-color: var(--global-background-color-light);
  color: hsl(240, 4%, 11%);
}

#dark {
  background-color: var(--global-background-color-dark);
  color: white;
}

.App-container {
  z-index: 0;
  height: 100vw;
  width: 100vh;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  position: absolute;
}

.loading-app {
  --bg-size: 400%;
  --color-one: #4b4b95;
  --color-two: #e71e24;
  --color-three: darkblue;
  font-size: clamp(3rem, 20vmin, 6rem);
  background: linear-gradient(90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  animation: move-bg 2.5s infinite linear;
  background-clip: text;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
