:root {
  --purple1: "#504bd2";
  --purple2: "#292669";
  --purple3: "#775d9e";
  --pink: "#e2aaab";
  --blue1: "#4b4b95";
  --blue2: "#333679";
  --blue3: "#3d3d85";
  --dark-blue: "#011f37";
  --red: "#e71e24";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.error-fallback {
    display: flex;
    justify-content: center;
    align-items: center;
}
