.close-button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px 12px;
}

.close-button {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.close-button:hover {
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #ffffff;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.game-button-wrapper {
  /* background-color: red; */
  margin: 0;
}
