.pause-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.pause-icon {
  height: 4vh;
  max-height: 50px;
}

@media (min-width: 1080px) {
  .pause-container {
    margin: 30px;
  }
}
