.theme-container {
	z-index: 20;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.7s;
}

.theme-container:hover {
  opacity: 0.7;
}

#light .theme-container {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 
  4px 4px 5px -5px #1a1d20,
  -1px -1px 5px #282d32,
    inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

#dark .theme-container {
  background: linear-gradient(145deg, #fdf6d6, #ffffff);
  box-shadow: 4px 4px 5px -5px #bbcfda,
  -1px -1px 5px #ffffff,
    inset 5px 5px 4px rgba(209, 217, 230, 0.35),
    inset -5px -5px 4px rgba(255, 255, 255, 0.3)
}

#dark .theme-icon {
  animation: change 0.3s;
  width: 22px;
  height: 22px; 
}

#light .theme-icon {
  animation: changeDark 0.3s;
  width: 19px;
  height: 19px; 
}

@-webkit-keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}


@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.change {
  -webkit-animation-name: change;
  animation-name: change;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes changeDark {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}


@keyframes changeDark {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.change {
  -webkit-animation-name: changeDark;
  animation-name: changeDark;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@media (max-height: 350px) {
  .theme-container {
    height: 40px;
    width: 40px;
  }

  #light .theme-icon {
    width: 18px;
    height: 18px; 
  }
  
  #dark .theme-icon {
    width: 15px;
    height: 15px; 
  }
}
