.ProtectedChannel {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .Form {
    width: clamp(100px, 50%, 400px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, .4);
    outline: solid 1px white;
    border-radius: 8px;
    color: white;
    padding: 15px;

    .Password {
      height: 25px;
      width: clamp(50px, 50%, 250px);
      border-radius: 13px;
      padding: 0 7px;
      outline: none;
      border: none;
      color: black;
    }

    .Button {
      color: white;
      outline: none;
      border: none;
      font-weight: 400;
    }

    .ErrorMessage {
      font-size: 12px;
      color: red;
    }
  }
}

.ProtectedChannelLight {
  filter: invert(1);
  
  .Password {
    filter: invert(1);
  }
}
