# cf. docker-compose.yml & docker.env
POSTGRES_HOST=db
POSTGRES_PORT=5432

# should be the same thing as in db.env
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=my_password
POSTGRES_DB=transcendence_db

# others env variables
# for instance JWT_ ...
